<!DOCTYPE html>
<html lang="cn">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="email=no" />
  <meta name="format-detection" content="address=no;">
  <title>推广管家 PWA DEMO</title>
  <link rel="manifest" href="/manifest.json" />
  <script type="text/javascript">
    (function flexible(window, document) {
      var docEl = document.documentElement;
      var dpr = window.devicePixelRatio || 1;
      if (dpr >= 2) {
        var fakeBody = document.createElement("body");
        var testElement = document.createElement("div");
        testElement.style.border = ".5px solid transparent";
        fakeBody.appendChild(testElement);
        docEl.appendChild(fakeBody);
        if (testElement.offsetHeight === 1) {
          docEl.classList.add("hairlines")
        } else {
          docEl.classList.add("notHairlines")
        }
        docEl.removeChild(fakeBody)
      }
    }(window, document));

  </script>
  <script src="/idb-keyval.js" ></script>
  <style>
    .title{text-align: center}
    .contact-form{
      text-align: center
    }
    input{
      width: 200px;height: 30px;
      margin-bottom: 20px;
      border: none
    }
    #submit{
      width: 200px;height: 30px;
      background: #e4d01c;
      color: #fff;
      border: none
    }
    .sync-remind{
      position: fixed;
      left: 0;bottom: -80px;
      width: 100%;height: 80px;
      line-height: 80px;
      text-align: center;
      background: rgb(163, 207, 201);
      font-size: 20px;
      transition: all .6s;
    }
  </style>
<link href="/planDetail.css" rel="stylesheet"><link href="/planDetail.css" rel="stylesheet"></head>

<body>
    <h1 class="title">计划详情</h1> 
    <div class="contact-form">
        <input type="text" id="name" name="name" placeholder="Your Name">
        <br>
        <input type="email" id="email" name="email" placeholder="Email Address" >
        <br>
        <input type="text" id="text" name="message" placeholder="Your Message">
        <br>
        <button id="submit">提交</button>
    </div>
    <div id="remind" class="sync-remind">消息将在联网后发送</div>
  <div id="app"></div>

<script type="text/javascript" src="/vendor.js"></script><script type="text/javascript" src="/planDetail.js"></script><script type="text/javascript" src="/vendor.js"></script><script type="text/javascript" src="/planDetail.js"></script></body>
<script>
    function displayNotification(text){
      let remind=document.getElementById('remind');
      remind.innerHTML=text;
      remind.style.bottom="0px";
      setTimeout(()=>{
        remind.style.bottom="-80px";
      },4000)
    }
    if ('serviceWorker' in navigator ) {
        navigator.serviceWorker.register('/sw.js')
        .then(registration => navigator.serviceWorker.ready)
        .then(registration => {
          
          document.getElementById('submit').addEventListener('click', () => {
            let payload = {
                  name: document.getElementById('name').value,
                  email: document.getElementById('email').value,
                  text: document.getElementById('text').value,
            };
            fetch('/sync/syncMessage',{
              method:'POST',
              headers: new Headers({ 'content-type': 'application/json' }),
              body:JSON.stringify(payload)
            })
            .then(response=> response.text())
            .then((res)=>{
              displayNotification(res);
            }).catch(err=>{
              console.log(err);
              registration.sync.register('contact').then(() => {     // 通过sync方法 注册 contact
                let payload = {
                  name: document.getElementById('name').value,
                  email: document.getElementById('email').value,
                  text: document.getElementById('text').value,
                };
                idbKeyval.set('sendMessage', payload); // 保存信息到indexdb
                displayNotification('消息将在联网后发送');
              });
            })
            
          });
      })
    } else {
        document.getElementById('submit').addEventListener('click', () => {
          fetch('/sync/syncMessage',{
            method:'POST',
            headers: new Headers({ 'content-type': 'application/json' }),
            body:JSON.stringify(value)
          })
          .then(response=> response.text())
          .then((res)=>{
            displayNotification(res);
          }).catch(err=>{
             console.log(err)
          })
        });
      } 
    
    </script>
</html>
